# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
playwright-report
test-results

# Next.js
.next
out
*.tsbuildinfo
next-env.d.ts

# Production
build
dist

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.swp
*~

# IDE
.vscode
.idea
